.login-email,
.login-password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
}

.login-form{
  /* height: 300px; */
  width: 400px;
}

.login-form-wrapper{
  border: 2px ridge blue;
}

.login-title-wrapper{
  width: 100%;
  display: grid;
  border-bottom: 1px solid lightgray;
  grid-template-columns: 20px 1fr;
  box-sizing: border-box;
  padding: 1em;
}

.login-btn,
.signup-btn{
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  border-radius: .5em;
  border: 1px solid darkred;
  background-color: indianred;
  color: white;
  height: 2em;
}

.login-btn:hover,
.signup-btn:hover{
  background-color: orangered;
}

.login-title{
  text-align: center;
}

.login-btn{
  margin: 1em;
}

.login-input{
  width: 100%;
  box-sizing: border-box;
  margin: 1em;
}

.errors-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: maroon;
  margin-top: 1em;
}

.signup-btn{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
}