.postings-page-wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.posting-page-information-wrapper,
.posting-page-posting-reviews-wrapper{
  box-sizing: border-box;
}

.postings-page-intro{
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
}

.posting-page-images-wrapper{
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 200px 200px;
  box-sizing: border-box;
  grid-template-areas: "main imga imgb"
                       "main imgc imgd";
  grid-gap: .25em;
  box-sizing: border-box;
  padding: 1em;
}

.posting-page-main-image-div{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid blue;
  grid-area: main;
}

.posting-page-other-image-1,
.posting-page-other-image-2,
.posting-page-other-image-3,
.posting-page-other-image-4{
  background-size: cover;
  background-image: url('https://user-images.githubusercontent.com/74081636/117692334-ecb7be00-b18a-11eb-9e1b-98589ca6fa0f.jpeg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid blue;
}

.posting-page-other-image-1{
  grid-area: imga;
}

.posting-page-other-image-2{
  grid-area: imgb;
}

.posting-page-other-image-3{
 grid-area: imgc;
}

.posting-page-other-image-4{
 grid-area: imgd;
}

.posting-page-host,
.posting-reviews-title{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin: .75em;
  margin-bottom: 0;
}

.posting-page-details,
.posting-page-tags{
  margin: 2em;
  font-size: .75em;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
}

.posting-page-tags{
  display: flex;
  margin-bottom: 2em;
}

.posting-tag{
  border: 1px solid lightgray;
  border-radius: 1em;
  padding: 5px;
  margin-left: 5px;
}

.posting-tag-title{
  padding-top: 5px;
}

.posting-page-title,
.posting-page-description{
  margin: 1.5em;
}

.booking-calendar{
  width: 450px;
  margin: 30px;
}

.booking-form{
  margin: 30px;
}
.posting-page-price-and-booking-wrapper{
  display: flex;
}

.booking-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.booking-title{
  font-size: 2em;
  border-bottom: 1px solid gray;
}

.review-wrapper{
  padding: 30px;
}

.rating-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rating{
  font-weight: bold;
}


.review-form{
  box-sizing: border-box;
  margin: 30px;
}

.review-ta{
  width: 100%;
  height: 100px;
}

.form-rating-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.review-rating{ 
  width: 30px;
  margin-left: 5px;
}

.rating-rating{
  margin-bottom: 10px;
}

.edt-and-del-btns{
  background-color: white;
  border: transparent;
  text-decoration: none;
}

.edt-and-del-btns:hover{
  font-weight: bold;
}

.book-btn{
  margin-top:20px;
}

.host-post-buttons{
  margin-left: 20px;
}

.booking-btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-div{
  margin: 10px;
  margin-bottom: 5px;
}

.booking-input{
  margin: 10px;
  width: 100%;
}


