.filter-wrapper-for-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-btn{
  margin: 10px;
  background-color: white;
  font-size: 15px;
  text-decoration: none;
  border: transparent;
}

.option-btn:hover{
  font-weight: bold;
}