.my-bookings-wrapper{
  height: 500px;
  width: 400px;
  overflow-y: scroll;
  border: 2px ridge blue;
}

.booking-link-wrapper{
  display: flex;
  padding: 1em;
}

.booking-link-to{
  text-decoration: none;
  margin-left: 1em;
  color: black;
}

.booking-link-to:hover{
  font-weight: bold;
}

.my-booking-delete-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.each-booking-wrapper{
  border-bottom: 1px solid lightgray;
  width: 95%;
  margin-left: 2.5%;
  padding-bottom: .5em;
}