.add-photo-form{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.add-image-input{
  width: 90%;
  margin: 5%;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.upload-btn{
  border: 1px solid black;
  border-radius: .5em;
  padding: .5em;
  background-color: rgb(72, 89, 243);
  color: white;
}

.add-photo-wrapper{
  border: 2px ridge blue;
}