.search-page-wrapper{
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
}

.search-page-postings-wrapper{
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.search-page-map{
  height: 100%;
}

.search-page-postings-title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.spp-title{
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid lightgray;
  margin: .5em;
}