.search-page-wrapper{
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
}

.search-page-postings-wrapper{
  flex-grow: 1;
}

.search-page-map{
  height: 100%;
}

